.heading-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart-table-image{
    width:35px;
}
table{
    margin-left:auto;
    margin-right:auto;
}
thead{
    /* text-decoration:underline lightslategray; */
    color:lightseagreen;
}
.main-cart-div{
    overflow-x: scroll;
}
.inc-dec-icon{
    color:grey;
    padding:3px;
}
#buy-now-btn{
    background-color: goldenrod;
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
#buy-now-btn:hover{
    border:2px solid darkgoldenrod;

}
#buy-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin:auto; */
    margin:40px 0px 130px 0px;

}
#go-back{
    color:lightcoral;
    cursor: pointer;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	table{
        width:95%;
    }
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; 
        
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		/* border-bottom: 1px solid #eee;  */
		position: relative;
		padding:1% 0% 1% 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 15px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: "Title"; }
	td:nth-of-type(3):before { content: "Amazon Price"; }
	td:nth-of-type(4):before { content: "Discount Price"; }
	td:nth-of-type(5):before { content: "Quantity"; }
	td:nth-of-type(6):before { content: "Total Price"; }
	td:nth-of-type(7):before { content: ""; }
	
}